<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Railway - Datos</h1>
    <table border="1px">
        <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Carrera</th>
            <th>Edad</th>
        </thead>
        <tbody>
            <% resultado.forEach((alumno) => {   %>
            <tr>
                <td><%= alumno._id %></td>
                <td><%= alumno.Nombre %></td>
                <td><%= alumno.Carrera %></td>
                <td><%= alumno.Edad %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>